.string-sss {
  font-size: 10px;
}

.string-ssm {
  font-size: 13px;
}

.string-ss {
  font-size: 15px;
}

.string-sm {
  font-size: 20px;
}

.string-md {
  font-size: 25px;
}

.string-rg {
  font-size: 30px;
}
.string-llg {
  font-size: 40px;
}

.string-lg {
  font-size: 50px;
}
.string-big {
  font-size: 100px;
}
@media (max-width: 1024px) {
  .string-sss {
    font-size: 7px;
  }

  .string-ssm {
    font-size: 10px;
  }

  .string-ss {
    font-size: 12px;
  }

  .string-sm {
    font-size: 15px;
  }

  .string-md {
    font-size: 17px;
  }

  .string-rg {
    font-size: 20px;
  }
  .string-llg {
    font-size: 25px;
  }

  .string-lg {
    font-size: 40px;
  }
}

.VDL-PenLetter {
  font-family: vdl-penletter, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.A-OTF-Ryumin-Pr6N-L-KL {
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
}

.A-OTF-Ryumin-Pr6N-L-KLL {
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 800;
  font-style: normal;
}

.kinutamarumin-fuji {
  font-family: "kinuta-maruminfuji-stdn", serif;
  font-style: normal;
  font-weight: 400;
}

.palast-variable {
  font-family: "palast-variable", sans-serif;
  font-style: normal;
  font-variation-settings: "opsz" 160, "wght" 500;
}

.UDDigiKyokashoProR {
  font-family: "uddigikyokasho-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-title {
  font-size: 30px;
  border-bottom: solid black 1px;
}
