.flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-frame {
  width: 100vw;
  height: 100vh;
}

.day-mode {
  color: black;
}

.night-mode {
  color: white;
}

.text-vertical {
  writing-mode: vertical-lr;
}

.text-90rotate {
  writing-mode: sideways-lr;
}

.arrow-right,
.arrow-right-b {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.arrow-right {
  border-left: 10px solid white; /* 矢印の色 */
}

.arrow-right-b {
  border-left: 10px solid black; /* 矢印の色 */
}

.arrow-rod,
.arrow-rod-b {
  top: 50%;
  transform: translateY(50%);
  border-bottom: solid 1px;
  width: 150px;
  transition: all 0.3s ease-in-out;
}

.arrow-rod {
  border-color: white;
}

.arrow-rod-b {
  border-color: black;
}

.arrow:hover .arrow-rod,
.arrow:hover .arrow-rod-b {
  width: 300px;
}

/*タイトルのbg要素*/
.title-bg-style {
  background-color: #ff6dcda0;
  animation: title-bg-style-animation 5s ease-in-out infinite;
}

.title-bg-style:nth-child(1) {
  animation-delay: 0s;
}

.title-bg-style:nth-child(2) {
  animation-delay: 0.3s;
}

.title-bg-style:nth-child(3) {
  animation-delay: 0.6s;
}

.heading-title {
  background-color: #ffa2df;
  color: white;
  padding: 0 20px;
  min-width: 300px;
}

@keyframes title-bg-style-animation {
  0%,
  20%,
  100% {
    background-color: #ff6dcda0;
    transform: translateY(0) scale(1);
  }

  10% {
    background-color: #ffffffa0;
    transform: translateY(-5%) scale(1.1);
  }
}

/*以下finder線*/

.camera-frame {
  position: relative;
  position: absolute;
  width: 100lvw;
  height: 100lvh;
  pointer-events: none;
  z-index: 10;
  animation: finder-move 10s ease-in-out infinite;
}

@keyframes finder-move {
  0%,
  100% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(3%);
  }
}

/*focus-line*/
.focus-line-top {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.focus-line-bottom {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.focus-line-left {
  position: absolute;
  bottom: 50%;
  left: 15%;
  transform: translateY(50%);
}

.focus-line-right {
  position: absolute;
  bottom: 50%;
  right: 15%;
  transform: translateY(50%);
}

.line-horizontal-top {
  border-top: solid white 1px;
  width: 30vw;
}

.line-horizontal-bottom {
  border-bottom: solid white 1px;
  width: 30vw;
}

.line-vertical-left {
  border-left: solid white 1px;
  height: 200px;
}

.line-vertical-right {
  border-right: solid white 1px;
  height: 200px;
}

.line-mini-vertical {
  border-left: solid white 1px;
  height: 20px;
}

.line-mini-horizontal {
  border-top: solid white 1px;
  width: 20px;
}

/*grid-line*/
.grid-top {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-left: solid white 1px;
  height: 30px;
}

.grid-bottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-left: solid white 1px;
  height: 30px;
}

.grid-left {
  position: absolute;
  bottom: 50%;
  left: 10%;
  transform: translateY(-50%);
  border-top: solid white 1px;
  width: 30px;
}

.grid-right {
  position: absolute;
  bottom: 50%;
  right: 10%;
  transform: translateY(-50%);
  border-top: solid white 1px;
  width: 30px;
}

/*focus-point*/
.focus-point {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  border: solid white 1px;
  transform: translate(-50%, -50%);
}

.color-line {
  border-left: #e60067 solid 1px;
  padding: 20px 10px;
}

/*Albumのカード*/
.album-card-container {
  position: relative;
  overflow: hidden;
  size: auto;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}
.album-card-container > img {
  transition: all 0.3s ease-in-out;
  width: 500px;
  height: 700px;
}
.album-card-container:hover > img {
  scale: 1.1;
}

@media (max-width: 1024px) {
  .album-card-container > img {
    width: 250px;
    height: 350px;
  }
}

.bg-fixed-option {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 480px) {
  .section-frame {
    width: 100lvw;
    height: 100lvh;
    overflow-x: hidden;
  }

  .heading-title {
    position: absolute;
    top: 10%;
    left: 3%;
  }
  .bg-fixed-option {
    background-attachment: local;
  }
}
